<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">


	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<!--<add assembly="NLog.MailKit"/>-->
		<!--<add assembly="Npgsql.EntityFrameworkCore.PostgreSQL"/>-->
		<!--<add assembly="Microsoft.EntityFrameworkCore.Sqlite.Core"/>-->
	</extensions>
		<!--Запись в файл-->
		<target xsi:type="File" name="allfile"
            fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--В SQLite-->
		<logger name="*" minlevel="Trace" writeTo="sqlserver"/>
		<!--В Порт-->
		<!--<logger name="*" minlevel="Trace" writeTo="TcpOutlet">-->
		
			<!--<filters>
        <when condition="contains(logger, 'что-то')" action="Log" />
        <when condition="contains(logger, 'что-то')" action="Ignore" />
      </filters>-->

	</rules>

</nlog>